h1{
    padding: 0 0 0 40px;
}
.parent{
    background-color: bisque;
    width: 350px;
    /* min-width: 700px; */
    height: 200px;
    border: 1px solid red;
    display: flex;
    /* justify-content: center; */
    padding: 20px;
    margin: 30px;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; */

}
.child1{
    background-color: rgb(9, 64, 64);
    /* width: 100px; */
    border: 1px solid black;
    color: white;
    margin: 10px;
    height: 70px;
    /* order: 5; */

}
.child2{
    background-color: rgb(187, 76, 131);
    /* width: 100px; */
    border: 1px solid black;
    color: aliceblue;
    margin: 10px;
    height: 70px;
    

    /* flex-grow: 1; */
}
.child3{
    background-color: rgb(211, 98, 23);
    /* width: 100px; */
    border: 1px solid black;
    color: aliceblue;
    margin: 10px;
    height: 70px;

    /* flex-grow: 1; */
}
.child4{
    background-color: rgb(26, 28, 191);
    /* width: 100px; */
    border: 1px solid black;
    color: aliceblue;
    margin: 10px;
    height: 70px;
    
    /* flex-grow: 1; */
}
.child5{
    background-color: rgb(37, 172, 39);
    /* width: 100px; */
    border: 1px solid black;
    color: aliceblue;
    margin: 10px;
    height: 70px;
}